    <head profile="http://gmpg.org/xfn/11">
        <title>BigEarthNet - A Large-Scale Sentinel Benchmark Archive</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="BigEarthNet is a benchmark archive, consisting of 590,326 pairs of Sentinel-1 and Sentinel-2 image patches. The first version (v1.0-beta) of BigEarthNet includes only Sentinel 2 images. Recently, it has been enriched by Sentinel-1 images to create a multi-modal BigEarthNet benchmark archive (called also as BigEarthNet-MM).">
        <meta name="author" content="@BigEarthERC">
        <meta name="keywords" content="benchmark, archive, large-scale, deep, learning, labels, remote, sensing, image, classification, bigearth, earth, observation, dataset">
        <meta name="robots" content="index, follow">
        <!-- Favicons -->
        <link href="{{ site.base_url }}static/img/favicon.ico" rel="icon">

        <meta property="og:title" content="BigEarthNet - A Large-Scale Sentinel Benchmark Archive">
        <meta property="og:description" content="BigEarthNet is a benchmark archive, consisting of 590,326 pairs of Sentinel-1 and Sentinel-2 image patches. The first version (v1.0-beta) of BigEarthNet includes only Sentinel 2 images. Recently, it has been enriched by Sentinel-1 images to create a multi-modal BigEarthNet benchmark archive (called also as BigEarthNet-MM).">
        <meta property="og:image" content="http://bigearth.net/static/img/bg.sm.png">
        <meta property="og:url" content="http://bigearth.net">
        <meta property="og:author" content="@BigEarthERC">


        <!-- Twitter Card -->
        <meta name="twitter:creator" content="@BigEarthERC">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="http://bigearth.net">
        <meta name="twitter:title" content="BigEarthNet - A Large-Scale Sentinel Benchmark Archive">
        <meta name="twitter:description" content="BigEarthNet is a benchmark archive, consisting of 590,326 pairs of Sentinel-1 and Sentinel-2 image patches. The first version (v1.0-beta) of BigEarthNet includes only Sentinel 2 images. Recently, it has been enriched by Sentinel-1 images to create a multi-modal BigEarthNet benchmark archive (called also as BigEarthNet-MM).">
        <meta name="twitter:image" content="http://bigearth.net/static/img/bg.sm.png">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom fonts for this template -->
        <link href="{{ site.base_url }}static/font-awesome/css/all.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ site.base_url }}static/css/bigearthnet.css" rel="stylesheet">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K6T3VBL');</script>
        <!-- End Google Tag Manager -->
    </head>