
    <!-- Downlaod Tools script-->
    <!-- <script src="{{ site.base_url }}static/js/download_tools.js"></script> -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="{{ site.base_url }}static/vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="{{ site.base_url }}static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="{{ site.base_url }}static/vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <!-- <script src="{{ site.base_url }}static/js/grayscale.min.js"></script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6039489-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-6039489-5');
    </script>
    <!-- end of GA -->